body {
    background: black url("images/darkness.png");
    margin: 0 auto;
    max-width: 900px;
    padding: 24px;
    color: white;
    font-family: sans-serif;
}

a:link {
    color: mediumslateblue;
}

a:visited {
    color: silver;
}

a:hover {
    color: coral;
}

a:active {
    color: blue;
}

img {
    max-width: 100%;
    height: auto;
}

article img {
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
   vertical-align: middle;
   page-break-inside: avoid;
}

h2 {
    color: gold;
}

.site-header {
    text-align: center;
}

.site-footer {
    text-align: center;
}

.centered {
    text-align: center;
}
